<h3>Properties</h3>

<p>
  <button ngDraggable tooltip="Drag me any where and see the adjustment of the tooltip auto placing">Tooltip auto
    placement
  </button>
</p>
<p>
  <button placement="right" tooltip="Tooltip on right">Tooltip on right</button>
</p>
<p>
  <button tooltip="Simple and <b>bold text</b>">Tooltip with HTML content</button>
</p>
<p>
  <button [show-delay]="1000" tooltip="Show delay 1000ms">Show delay 1000ms</button>
</p>
<p>
  <button [hide-delay]="1000" tooltip="Hide delay 1000ms">Hide delay 1000ms</button>
</p>
<p>
  <button [hideDelayTouchscreen]="2000" tooltip="Hide delay on touch screen 2000ms">Hide delay on touch screen 2000ms
  </button>
</p>
<p>
  <button [z-index]="1000" tooltip="Z-index 1000">Z-index 1000</button>
</p>
<p>
  <button [animation-duration]="1000" tooltip="Animation duration 1000ms">Animation duration 1000ms</button>
</p>
<p>
  <button [trigger]="'click'" tooltip="On click">On click</button>
</p>
<p>
  <button [tooltip-class]="'custom-class'" tooltip="Custom class">Custom class</button>
</p>
<p>
  <button [display]="false" tooltip="Disabled">Disabled</button>
</p>
<p>
  <button [displayTouchscreen]="false" tooltip="Disabled on touch screen">Disabled on touch screen</button>
</p>
<p>
  <button [shadow]="false" tooltip="Without a shadow">Without a shadow</button>
</p>
<p>
  <button [theme]="'light'" tooltip="Light theme">Light theme</button>
</p>
<p>
  <button [offset]="16" tooltip="Offset 16px">Offset 16px</button>
</p>
<p>
  <button [max-width]="100" tooltip="Maximum width 100 pixels">Maximum width 100 pixels</button>
</p>
<p>
  <button [hide-delay]="1000" [pointerEvents]="'auto'" tooltip="Pointer events auto">Pointer events auto</button>
</p>
<p>
  <button [width]="200" tooltip="Width 200 pixels">Width 200 pixels</button>
</p>
<p>
  <button [position]="{top: 0, left: 200}" placement="bottom" tooltip="Custom position">Custom position</button>
</p>

<h3>Events</h3>

<button
    (events)="handleTooltipEvents($event)"
    placement="top"
    tooltip="Tooltip">Tooltip on top
</button>

<button
    (events)="handleTooltipEvents($event)"
    placement="top"
    show-delay="500"
    tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea.">Tooltip on top, show delay 500ms
</button>

<button
    (events)="handleTooltipEvents($event)"
    hide-delay="1000"
    placement="top"
    tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea."
    trigger="click">Click me, hide delay 1s
</button>

<h3>Methods</h3>

<button (click)="someTooltip.show()">Show tooltip</button>
<button (click)="someTooltip.hide()">Hide tooltip</button>

<button
    id="someTooltip"
    tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea.">Tooltip on top
</button>
