<h1>Demo</h1>

<button tooltip="Tooltip" placement="top" style="margin: 10px 10px 10px 0;">Tooltip on top</button>
<button tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea." placement="bottom" style="margin: 10px 10px 10px 0;">Tooltip on bottom</button>
<button tooltip="Tooltip" placement="left" style="margin: 10px 10px 10px 0;">Tooltip on left</button>
<button tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea." placement="right" delay="500" style="margin: 10px 10px 10px 0;">Tooltip on right, delay 500ms</button>
<button tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea." [hover]="false" hide-delay="1500" placement="top" style="margin: 10px 10px 10px 0;">Click me</button>