<h1>Properties</h1>

<h2>placement</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Tooltip on top" placement="top">Top</button>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Tooltip on bottom" placement="bottom">Bottom</button>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Tooltip on left" placement="left">Left</button>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Tooltip on right" placement="right">Right</button>
</p>

<h2>autoPlacement</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" ngDraggable tooltip="Drag me any where and see the adjustment of the tooltip auto placing" placement="left">Drag me</button>
</p>

<h2>showDelay</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Show delay 1000ms" placement="left" [showDelay]="1000">Show delay 1000ms</button>
</p>

<h2>hideDelay</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Hide delay 1000ms" placement="left" [hideDelay]="1000">Hide delay 1000ms</button>
</p>


<h2>display</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Display false" [display]="false">Display false</button>
</p>

<h2>zIndex</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="zIndex 500" [zIndex]="500">zIndex 500</button>
</p>

<h2>trigger</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Trigger click" trigger="click">Trigger click</button>
</p>

<h2>tooltipClass</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Custom class" tooltipClass="custom-class">Custom class</button>
</p>

<h2>animationDuration</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Custom class" [animationDuration]="500">Animation duration 500ms</button>
</p>

<h2>theme</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Dark theme" theme="light">Light theme</button>
</p>

<h2>shadow</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Shadow" [shadow]="false">No shadow</button>
</p>

<h2>offset</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Offset 2px" [offset]="2">Offset 2px</button>
</p>

<h2>width</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Width 100 pixels" width="100px">Width 100 pixels</button>
</p>

<h2>max-width</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Max width 100 pixels" maxWidth="100px">Max width 100 pixels</button>
</p>

<h2>pointerEvents</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="pointerEvents: none" pointerEvents="auto">pointerEvents: auto</button>
</p>

<h2>position</h2>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="Custom position" [position]="{top: 0, left: 100}">Custom position</button>
</p>


<h1>Methods</h1>
<div tooltip="Tooltip text" #myTooltip="tooltip"></div>

<button class="btn btn-small btn-outline btn-rounded" (click)="myTooltip.show()">show()</button>
<button class="btn btn-small btn-outline btn-rounded" (click)="myTooltip.hide()">hide()</button>

<h1>Events</h1>
<p>
    <button class="btn btn-small btn-outline btn-rounded" tooltip="See console log" (events)="handleTooltipEvents($event)">Show</button>
</p>