<h3>Properties</h3>
<p>
    <button ngDraggable tooltip="Drag me any where and see the adjustment of the tooltip auto placing" placement="auto">Tooltip auto placement</button>
</p>
<p>
    <button tooltip="Tooltip on right" placement="right">Tooltip on right</button>
</p>
<p>
    <button tooltip="Simple and <b>bold text</b>">Tooltip with HTML content</button>
</p>
<p>
    <button tooltip="Show delay 1000ms" [show-delay]="1000">Show delay 1000ms</button>
</p>
<p>
    <button tooltip="Hide delay 1000ms" [hide-delay]="1000">Hide delay 1000ms</button>
</p>
<p>
    <button tooltip="Z-index 1000" [z-index]="1000">Z-index 1000</button>
</p>
<p>
    <button tooltip="Animation duration 1000ms" [animation-duration]="1000">Animation duration 1000ms</button>
</p>
<p>
    <button tooltip="On click" [trigger]="'click'">On click</button>
</p>
<p>
    <button tooltip="Custom class" [tooltip-class]="'custom-class'">Custom class</button>
</p>
<p>
    <button tooltip="Display false" [display]="false">Display false</button>
</p>
<p>
    <button tooltip="Display mobile false" [display-mobile]="false">Display mobile false</button>
</p>
<p>
    <button tooltip="Without a shadow" [shadow]="false">Without a shadow</button>
</p>
<p>
    <button tooltip="Light theme" [theme]="'light'">Light theme</button>
</p>
<p>
    <button tooltip="Offset 16px" [offset]="16">Offset 16px</button>
</p>
<p>
    <button tooltip="Maximum width 100 pixels" [max-width]="100">Maximum width 100 pixels</button>
</p>
<p>
    <button tooltip="Pointer events auto" [pointerEvents]="'auto'" [hide-delay]="1000">Pointer events auto</button>
</p>
<p>
    <button tooltip="Width 200 pixels" [width]="200">Width 200 pixels</button>
</p>
<p>
    <button tooltip="Custom position" placement="bottom" [position]="{top: 0, left: 200}">Custom position</button>
</p>

<h3>Events</h3>

<button
    tooltip="Tooltip"
    placement="top"
    (events)="handleTooltipEvents($event)">Tooltip on top</button>

<button
    tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea."
    placement="top"
    show-delay="500"
    (events)="handleTooltipEvents($event)">Tooltip on top, show delay 500ms</button>

<button
    tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea."
    placement="top"
    trigger="click"
    hide-delay="1000"
    (events)="handleTooltipEvents($event)">Click me, hide delay 1s</button>

<h3>Methods</h3>

<button (click)="someTooltip.show()">Show tooltip</button>
<button (click)="someTooltip.hide()">Hide tooltip</button>

<button
    tooltip="Lorem ipsum dolor sit amet, his ut dicunt recteque ea."
    id="someTooltip">Tooltip on top</button>
